body{
    overflow-x: hidden;
    margin: 0 auto;
}
body p{
    color: #444444;
}
body h2,h3{
    color: #444444;
}
header{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#main-header {
    background: #ffa36d;
    height: 113px;
    width: 100%;
    left: 0;
}
#main-header img{
    width: 121px;
    padding-left: 42px;
    padding-top: 2px;
    float: left;
}
nav {
	padding-top: 21px;
    padding-left: 67%;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}			
nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: #444444;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
nav ul li a:hover{
    color: white;
}

/*TABLA*/
/*MEZCCLAR CCOLORES #ff6509 --- #ffa36d*/
#main-container{
    padding-top: 59px;
    padding-left: 135px;
    width: 80%;
    padding-bottom: 50px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}
th{
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}
td{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

thead{
	background-color: #ff6509;
	border-bottom: solid 5px #ffa36d;
	color: white;
}
tr:hover td{
	background-color: #ffa36d;
	color: white;
}
footer{
    background-color: #ffa36d;
    padding-bottom: 40px;
    width: 101%;
}
.container_izq{
    padding-left: 67px;
    padding-top: 45px;
    float: left;
  }
  .container_izq .icono1{
    float: left;
  }
  .container_izq .ubicacion{
    padding-left: 54px;
    font-size: 20px;
  }
  .two-icon{
    padding-top: 37px;
  }
  .two-icon .icono2{
    float: left;
  }
  .two-icon .email{
    padding-left: 60px;
    font-size: 20px;
  }
  .container_center{
    padding-top: 13px;
    padding-left: 576px;
  }
  .container_center img{
    width: 219px;
    float: left;
  }
  .container_dere{
    padding-top: 22px;
    padding-left: 930px;
  }
  .container_dere p{
    font-size: 20px;
    width: 358px;
    line-height: 25px;
  }
  .container_dere .icono3{
    padding-left: 113px;
    padding-top: 6px;
  }
  .container_dere .icono4{
    padding-left: 28px;
  }